ENVIRONMENT=development
READ_TIME=5
DHT_PIN=17
DHT_TYPE=DHT22
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=/devices/CHANGE_DEVICE
MQTT_CLIENT_ID=rpi-user1
MQTT_USERNAME=CHANGE_USER
MQTT_PASSWORD=CHANGE_PASS
